conky.config = {
  background=true,
  -- At 10 seconds, graphs are 1 hour in range --
  update_interval=10,
  cpu_avg_samples=1,
  net_avg_samples=1,
  override_utf8_locale=true,
  double_buffer = true,
  own_window = true,
  own_window_colour = '000000',
  own_window_class = 'Conky',
  own_window_argb_visual = true,
  own_window_argb_value = 0,
  own_window_type = 'desktop',
  own_window_transparent = true,
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
  border_inner_margin = 20,
  border_width = 20,
  minimum_height = 1080,
  minimum_width = 360,
  maximum_width = 360,
  alignment = 'top_left',
  gap_x = 25,
  gap_y = 50,

  -- Graphics --

  draw_shades = false,
  draw_outline = false,
  draw_borders = false,
  draw_graph_borders = true,
  default_graph_height = 50,
  show_graph_scale = true,
  show_graph_range = false,

-- Text --

  use_xft = true,
  font = 'Fira Code',
  xftalpha = 1,
  uppercase = false,
  pad_percents = 0,

  -- Colors --

  default_color = 'ffffff',
};

conky.text = [[
#
#${color}Today is:$alignr${time %A,}$alignr ${time %e %B %G}
# System Info
${color}Distribution: $alignr${execi 6300 cat /etc/system-release | cut -d ' ' -f 1-3}
${color}Kernel:$alignr$kernel
${color}Uptime:$alignr$uptime
${color}UTC:$alignr$utime
${color 333333}${voffset 2}${hr 4}
#				-- TIME / IMAGE --
${color white}${font :size= 10}${alignr}${time %A, %d %B %Y}
${color white}${font :size= 36}${alignr}${time %H:%M}
#${font :size=36}${alignr}${texeci 5 "rapl -n 1 -i 4500 | tail -n +2 | sed '1!d' | cut -d ' ' -f 3"} W
${image ~/fedora.png -p 5,95 -s 160x160 -f 86400}
#				-- CPU --
${color white}${font :size= 9}CPU: ${font :size= 9}${color white}$cpu% ${alignr}Load: $loadavg
${offset 1}${color white}${cpugraph cpu0 FFA500 -l -t}
${color white}${font :size= 9}CPU Temp: ${font :size= 9}${color white}${execi 5 "sensors | grep Package | awk '{print $4}' "}${alignr}Power: ${texeci 5 "rapl -n 1 -i 9500 | tail -n +2 | sed '1!d' | tr -s ' '| cut -d ' ' -f 2"} W
${execigraph 10 "sensors | grep Package | awk '{print $4}' | cut -b2,3  | awk '{print $1-28}'" -t}

#                               -- Memory --
Memory: $mem / $memmax (${memperc}%)${alignr}Swap: $swap
${memgraph -l -t}
#				-- Entropy --
${alignc}${color white}${font :size= 9}Entropy: ${font :size= 9}${color white}$entropy_perc%
${entropy_bar}
#				-- HD --

${alignc}Samsung 980 Pro NVMe
${color white}${font :size=8} R: ${diskio_read /dev/nvme0n1}${alignr}${color white} W: ${diskio_write /dev/nvme0n1}
${color white}${offset 4}${color white}${diskiograph_read /dev/nvme0n1 40,178 aaaaaa fffff0 -t}${diskiograph_write /dev/nvme0n1 40,178}
Disk Usage: ${fs_used /} / ${fs_size /}
${color white}${offset 4}${color white}${fs_bar 40,360 /}

#				-- INTERNET --
${alignc}Intel I225-V Gigabit Ethernet
${color white}${font :size=8} ▼  ${downspeed enp4s0}${alignr}${color white} ▲  ${upspeed enp4s0}
${color white}${offset 4}${color white}${downspeedgraph enp4s0 40,178}${upspeedgraph enp4s0 40,178}

#                                -- OS --
Running Processes: $running_processes / $processes${alignr}Threads Running: $running_threads / $threads

Process: ${goto 180} CPU% ${alignr}Mem%
$stippled_hr
${top name 1} ${goto 180}${top cpu 1} ${alignr}${top mem 1}
${top name 2} ${goto 180}${top cpu 2} ${alignr}${top mem 2}
${top name 3} ${goto 180}${top cpu 3} ${alignr}${top mem 3}
${top name 4} ${goto 180}${top cpu 4} ${alignr}${top mem 4}
${top name 5} ${goto 180}${top cpu 5} ${alignr}${top mem 5}

# DNF Updates.
# Assumes cron job running `dnf check-update`, writing result to `~/.dnf-updates-available`
$stippled_hr
DNF Updates Available: ${lines /home/scsibug/.dnf-updates-available}
$stippled_hr

${goto 120}CPU Utilization by Core
01: ${cpubar cpu1 5,280} ${freq 1} Mhz
02: ${cpubar cpu2 5,280} ${freq 2} Mhz
03: ${cpubar cpu3 5,280} ${freq 3} Mhz
04: ${cpubar cpu4 5,280} ${freq 4} Mhz
05: ${cpubar cpu5 5,280} ${freq 5} Mhz
06: ${cpubar cpu6 5,280} ${freq 6} Mhz
07: ${cpubar cpu7 5,280} ${freq 7} Mhz
08: ${cpubar cpu8 5,280} ${freq 8} Mhz
09: ${cpubar cpu9 5,280} ${freq 9} Mhz
10: ${cpubar cpu10 5,280} ${freq 10} Mhz
11: ${cpubar cpu11 5,280} ${freq 11} Mhz
12: ${cpubar cpu12 5,280} ${freq 12} Mhz
${goto 120}(Efficiency Cores)
13: ${color 777777}${cpubar cpu13 5,280}${color white} ${freq 13} Mhz
14: ${color 777777}${cpubar cpu14 5,280}${color white} ${freq 14} Mhz
15: ${color 777777}${cpubar cpu15 5,280}${color white} ${freq 15} Mhz
16: ${color 777777}${cpubar cpu16 5,280}${color white} ${freq 16} Mhz

]];
